# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
    
    - name: Get branch names
      id: branch-name
      uses: tj-actions/branch-names@v6
    
    - name: Get Time
      id: time
      uses: nanzm/get-time-action@v1.1
      with:
          timeZone: 8
          format: 'YYYY-MM-DD-HH-mm-ss'
    - name: Deploy Stage
      uses: fjogeleit/http-request-action@v1
      with:
        url: 'https://telegram-bot-asx.herokuapp.com/commitAction'
        method: 'POST'
        customHeaders: '{"Content-Type": "application/json"}'
        data: '{ "commitHash" : "${{ github.event.head_commit.message }}", "repository" : "${{ github.event.repository.name }}" ,"branch" : "${{ steps.branch-name.outputs.current_branch }}", "userName" :  "${{ github.actor }}", "timestamp" : "${{ steps.time.outputs.time }}"}'
